<html>
{% load staticfiles %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
<meta content="en-us">
<meta content="text/html; charset=windows-1252">
</head>
<body>
<table border="1" cellpadding="0" cellspacing="0" width="100%" height="100%">
<tbody>
<tr>
    <td valign="top" colspan="4" height="47">
<p align="center"><font size="5">Search results</font></p>
</td>
</tr>
<tr>
<td valign="top" rowspan="3" width="226">
<p align="center"><font size="5">Total Count hotel from {{ address }}: {{ hotel_count }}</font></p>
</td>
<td valign="top" colspan="2">
<p align="center"><font size="6">Best Deals ({{ hotel_count }})</font></p>
</td>
<td valign="top" height="21">
<p align="center"><font size="4">Cab Required</font></p>
</td>
</tr>
{% for hotel in hotel %}
<tr>

<td valign="top" colspan="2">
<table>

                <form method="post" action="/reservationpage/"> {% csrf_token %}
{#        <tr><td colspan="3">#}
{#            {% if hotel_count  %}#}
{##}
{#            This is {{ hotel_count }}th hotel</td></tr>#}
{#            {{ hotel_count|add:"-1"}}#}
{#            {% endif %}#}
{#        <tr>#}

            <td>Hotel Name: </td>
            <td>{{ hotel.hotel_name }}<input type="hidden" name="hotel_id" value="{{ hotel.id }}"></td>
            <td rowspan="2"><img src="{% static hotel.image1.url  %}" height="50px" width="50px">
{#            <input type="hidden" name="hotel_image1" value="{{ hotel.image1.url }}">#}
            </td>
        </tr>

        <tr>
{#            <td>{{ hotel.id }}</td>#}
            <td>Hotel Address: </td>
            <td>{{ hotel.hotel_address }}</td>
        </tr>

        <tr>
            <td>Ratings </td>
            <td>{{ hotel.rating }}</td>
            <td rowspan="2"> <img src="{% static hotel.image2.url  %}" height="50px" width="50px"></td>

        </tr>

        <tr>
            <td>Cab Availability </td>
            <td>{% if hotel.cab_available %} Yes
            {% else %} No
            {% endif %}</td>
        </tr>

        <tr>
            <td>Special Reservation Availble </td>
            <td>{% if hotel.special_reservation == 'Y' %}
                Yes
            {% else %}
                No
            {% endif %}</td>
            <td colspan="2"><img src="{% static hotel.image3.url  %}" height="50px" width="50px"></td>

        </tr>

        <tr>
            <td>Hotel Environment</td>
            <td>
                {% if hotel.hotel_environment == 'I'%}
                Indoor
                {% endif %}
                {% if hotel.hotel_environment == 'O' %}
                Outdoor
                {% endif %}</td>
        </tr>

        <tr>
            <td>Meals Available </td>
            <td>
                {% if hotel.breakfast == 'Y' %}
                Breakfast
             {% endif %}
            {% if hotel.lunch == 'Y'%}
                Lunch
                {% endif %}
            {% if hotel.dinner == 'Y' %}
                Dinner
            {% endif %}</td>
        </tr>
        <tr><td><input type="submit" value="Reserve">
        </td></tr>
                </form>
</table>
</td>

<td height="277" rowspan="{{ hotel_count }}">&nbsp;</td>
</tr>
{% endfor %}&nbsp;

</tbody>
</table>
</body>
</html>