<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Go-Cuisine</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="{% static 'image/x-icon'%}" sizes="16x16">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet">
  </head>
  <body>
  <div class="main">
    <div class="container-fluid serach-slide">
    	<div class="container search-bar">
          <div class="container-fluid" style="margin:20px;">
      <div class="container">
          <div class="col-xs-12 col-sm-3 col-md-3 logo-m">
              <a href="#"><img src="{% static 'images/logo.png' %}" class="img-responsive"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 menusa">
              </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="btn-group">
  <button type="button" class="btn btn-info">Manage Reservations</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Track your seat</a></li>
    <li><a href="#">Cancel Your reservation</a></li>
    <li><a href="#">Helpline</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Signup/Login</a></li>
  </ul>
</div></div>
        </div>
    </div>
   

        	<div class="clearfix space-30"></div>
          <div class = "nis col-md-offset-1" style="border: 2px solid;border-radius: 25px;padding:20px;max-width:400px;background-color:transparent;background-color:rgba(0 , 0, 0, 0.7);">
             <div class="h3 white-text" style="text-align:center;" >Reserve a Table</div>

             <form method="post" action="/displayhotel/"> {% csrf_token %}
                <div class = "form-group">
                  <input type="text" class="form-control"placeholder="Search Location" name="address">
                </div>
                <div class="form-group">
                  <div class="h4 white-text">Arrival time</div>
                        <input type="text" class="form-control h4 white-text start_date" id="datetimepicker" placeholder="Pickup date and time">
                      </div>

                    <div class="form-group ">
                        <input style="max-width:100px" type="submit" class="form-control btn-info" value="Book Now">
                      </div>
                  
             </form>
          
          </div>
          </div>
        <div class="row carousel-slide-main">
            <div id="carousel-example-generic" class="carousel slide carousel-slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="{% static 'images/banner/banner-1.jpg' %}" alt="...">
                </div>
                <div class="item">
                  <img src="{% static 'images/banner/banner-2.jpg' %}" alt="...">
                </div>
                <div class="item">
                  <img src="{% static 'images/banner/banner-3.jpg' %}" alt="...">
                </div>
              </div>
              <nav class="navbar-fixed-bottom" style="background-color:transparent;background-color:rgba(0,0,0,0.8);">
              <div class="container">
         <ul class="nav navbar-nav" style="float:None;margin:0 auto;display:table;table-layout:fixed;">
<li role="presentation" class="active white-text" ><a href="#">Home</a></li>
  <li role="presentation" class="white-text"><a href="#">Reviews</a></li>
  <li role="presentation" class="white-text"><a href="#">Restaurent Deals</a></li>
  <li role="presentation" class="white-text"><a href="#">Special Reservation</a></li>
  <li role="presentation" class="white-text"><a href="#">Tour</a></li>
  <li role="presentation" class="white-text"><a href="#">About US</a></li>
                </ul>
         </div>
            </nav>

            </div>
        </div>
        <div class="container nav-tab-search">
        <div class="home_search">
              
          <footer>

            
          </footer>
              </div>
            </div>
    </div>
    <div class="container-fluid grey-bg">
    	<div class="container space-30">
        	<div class="h1 text-center people_said">What <strong>People Say</strong></div>
            <div class="clearfix space-50"></div>
            <div id="carousel-people-say" class="carousel slide people-say" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-sm-6 col-md-6">
                  	<div class="media">
                      <div class="media-left user_img">
                        <a href="#">
                          <img class="media-object img-circle" src="{% static 'images/client-1.jpg'%}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading">Sonam Verma</h3>
                        <img src="{% static 'images/5-star.png' %}">
                        <div class="h4">Superb It's an amazing exepereince with  GoCuisine . Because they provide best restra services for special events.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6">
                  	<div class="media">
                      <div class="media-left user_img">
                        <a href="#">
                          <img class="media-object img-circle" src="{% static 'images/client-2.jpg' %}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading">Tejbhan Singh</h3>
                        <img src="{% static 'images/4-star.png' %}">
                        <div class="h4">Superb It's an amazing exepereince with  GoCuisine . Because they provide best restra services for special events.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="col-sm-6 col-md-6">
                  	<div class="media">
                      <div class="media-left user_img">
                        <a href="#">
                          <img class="media-object img-circle" src="{% static 'images/client-1.jpg' %}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading">Sonam Verma</h3>
                        <img src="{% static 'images/5-star.png' %}">
                        <div class="h4">Superb It's an amazing exepereince with  GoCuisine . Because they provide best restra services for special events.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6">
                  	<div class="media">
                      <div class="media-left user_img">
                        <a href="#">
                          <img class="media-object img-circle" src="{% static 'images/client-2.jpg' %}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h3 class="media-heading">Tejbhan Singh</h3>
                        <img src="{% static 'images/4-star.png' %}">
                        <div class="h4">Superb It's an amazing exepereince with  GoCuisine . Because they provide best restra services for special events.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-people-say" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-people-say" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="clearfix space-50"></div>
        </div>
    </div>
    <div class="container space-40">
    	<div class="h1 text-center border-heading media_text">GoCuisine In <strong>Media</strong></div>
    	<ul class="list-inline space-30 media-logo">
        	  <li><img src="{% static 'images/logo/logo-1.jpg'%}"></li>
            <li><img src="{% static 'images/logo/logo-2.jpg'%}"></li>
            <li><img src="{% static 'images/logo/logo-3.jpg'%}"></li>
            <li><img src="{% static 'images/logo/logo-4.jpg'%}"></li>
        </ul>
    </div>
    <div class="offer_zone">
	<div class="clicable_text">Offers</div>
	<div class="offers">
    	<div class="closers">+</div>
    	<ul>
        	<li>
            	<div class="percent_off">40% OFF</div>
                <div class="offer_text">Flat 40% off for Noon Bookings only
                	<p>GC40</p>
                </div>
            </li>
        	<li>
            	<div class="percent_off">40% OFF</div>
                <div class="offer_text">Flat 40% off for Noon Bookings only
                	<p>GCS40</p>
                </div>
            </li>
        	<li>
            	<div class="percent_off">40% OFF</div>
                <div class="offer_text">Flat 40% off for Noon Bookings only
                	<p>NY40</p>
                </div>
            </li>
        </ul>
    </div>
</div>


    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>